{% extends "layout.html" %}

{% block body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">All Tissue Samples</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Admin</a></li>
              <li class="breadcrumb-item active">List of samples</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
            
              <div class="card-header">
                <h3 class="card-title">Table showing all samples</h3>
                <a href="#" class="btn btn-info float-right">Total Samples: {{ count }}</a>
              </div>

              <!-- /.card-header -->
              <div class="card-body">
                <table id="samples" class="table table-bordered table-hover table-responsive-sm">
                  <thead>
                  <tr>
                    <th>Title</th>
                    <th>Donor_Count</th>
                    <th>Material_Type</th>
                    <th>Last_Updated</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for sample in  samples %}
                    <tr>		
                      <td>{{ sample.title }}</td>
                      <td>{{ sample.donor_count }}</td>
                      <td>{{ sample.material_type }}</td>
                      <td>{{ sample.create_date.split(" ")[0] }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
      <div class="row">
        <div class="col-12">
          <a href="/sample/add" class="btn btn-success float-left">Add new sample</a>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% endblock %}
