  {% extends "layout.html" %}

  {% block body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Tissue Sample Collection</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Admin</a></li>
              <li class="breadcrumb-item active">List of collections</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              
              <div class="card-header">
                <h3 class="card-title">Table showing all collections records</h3>
                <a href="#" class="btn btn-info float-right">Total Collections: {{ count }}</a>
              </div>

              <!-- /.card-header -->
              <div class="card-body">
                <table id="collections" class="table table-bordered table-hover table-responsive-sm">
                  <thead>
                  <tr>
                    <th>Disease Term</th>
                    <th>Title</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for collection in  collections %}
                    <tr>		
                      <td>{{ collection.disease_term }}</td>
                      <td>{{ collection.title }}</td>
                      <td class="project-actions text-right">
                        <a class="btn btn-primary btn-sm" href="/sample/{{ collection.collection_id }}"><i class="fas fa-folder"></i> View Samples</a>
                        <a class="btn btn-info btn-sm" href="/sample/add/{{ collection.collection_id }}"><i class="fas fa-pencil-alt"></i> Add Sample</a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
      <div class="row">
        <div class="col-12">
          <a href="/collection/create" class="btn btn-success float-left">Create new collection</a>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% endblock %}
