{% extends "layout.html" %}

{% block body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Details of Samples</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Admin</a></li>
              <li class="breadcrumb-item active">List of samples</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="invoice p-3 mb-3">
        <!-- info row -->
        <div class="row invoice-info">
          <div class="col-sm-4 invoice-col">
            Disease Term
            <p>
              <strong>{{ data1.disease_term }}</strong>
            </p>
          </div>
          <!-- /.col -->
          <div class="col-sm-4 invoice-col">
            Title
            <p>
              <strong>{{ data1.title }}</strong>
            </p>
          </div>
          <!-- /.col -->
          <div class="col-sm-4 invoice-col">
            Total Samples
            <p>
              <strong>{{ count }}</strong>
            </p>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

        <!-- Table row -->
        <div class="row">
          <div class="col-12 table-responsive-sm">
            <table id="sample1" class="table table-striped">
              <thead>
              <tr>
                <th>Donor_Count</th>
                <th>Material_Type</th>
                <th>Last_Updated</th>
              </tr>
              </thead>
              <tbody>
              {% for data in  data2 %}
              <tr>
                <td>{{ data.donor_count }}</td>
                <td>{{ data.material_type }}</td>
                <td>{{ data.create_date.split(" ")[0] }}</td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.content -->
      <div class="row">
        <div class="col-12">
          <a href="/sample/add/{{ data1.collection_id }}" class="btn btn-success float-left">Add new sample</a>
        </div>
      </div>
  </div>
  <!-- /.content-wrapper -->

  {% endblock %}
